.production{
	background: $black_fiolet;

	&__section{
	padding: 40px 95px;
	text-align: center;
	


	.production__section_btn{
		background: $blue;
	}

	&_text{
		color: $white;
		margin: 25px 0 30px;
	}

	&_title{
		color: $blue;
		font-size: 30px;
		font-weight: 400;
	}
}
}