.feedback{

	.row{
		justify-content: space-between;


	.col-lg-7{


		.recall{


			&__item{


				&_title{

					font-size: 13px;
					font-weight: 400;
					margin-bottom: 15px;
					color: $blue;

					span.name{
						color: #B3898E;
					}
				}

				&_text{
					padding-bottom: 20px;
					border-bottom: 1px solid #D5E1F1;
				}
			}
			&__item{
				margin-bottom: 20px;

			}
			a.btn-standart{
				margin: 30px 0 0 0;
				background: $blue;
			}

	}

	}

	.col-lg-4{

		p{
			color: $blue;
			font-size: 18px;
			padding-bottom: 15px;
		}

		form{
			label{
				display: block;
				font-size: 12px;
				color: $blue;
				font-weight: 400;
				margin-bottom: 4px;
			}
			input{
				border: none;
				border-bottom: 1px solid #E5E5E5;
				margin-bottom: 30px;
				width: 100%;
			}
			input.message{
				border: 1px solid #E5E5E5;
				min-height: 149px;
				margin-bottom: 30px;

				input::input-placeholder{
					padding-top: -25px;
				}
			}
			input::-webkit-input-placeholder {color:#c4c4c4; font-size: 18px;}
					input::-moz-placeholder          {color:#c4c4c4; font-size: 18px; }/* Firefox 19+ */
					input:-moz-placeholder           {color:#c4c4c4; font-size: 18px; }/* Firefox 18- */
					input:-ms-input-placeholder      {color:#c4c4c4; font-size: 18px;}

		}
	}
}
}