.sale{
	margin-top: 78px;
	min-height: 500px;
	position: relative;
	background: url("../images/dest/sale.jpg") no-repeat 50%;

	.row{
		height: 500px;
		align-items: center;
		
	
	a{
		background: $rose !important;
	}
	p{
		font-size: 110px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		color: $rose;
	}
	}
	
}